<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925074161493-st9iq8e02gmh8vilcfks3jsk272vas99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925074161493-st9iq8e02gmh8vilcfks3jsk272vas99</string>
	<key>API_KEY</key>
	<string>AIzaSyCFlFg27iLme3u20KK-34N3q6bmh61D5yA</string>
	<key>GCM_SENDER_ID</key>
	<string>925074161493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.firebase</string>
	<key>PROJECT_ID</key>
	<string>crud-firebase-b5086</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-firebase-b5086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925074161493:ios:99eb7acd14952df01a39dc</string>
</dict>
</plist>